[v-cloak] {
  display:none;
}
html {
  scrollbar-color: #d2ecfc #ffffff;
  scrollbar-width: thin !important;
}
body {
  font-size: 1rem;
  min-width: 1366px;
  height: 100vh;
  background: url('../img/bg.svg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.uk-card-default {
  color: #575757;
}
body,
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    メイリオ, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic",
    "Noto Sans CJK JP", TakaoPGothic, Arial, Helvetica, sans-serif !important;
}
.el-step:hover .el-step__head .el-step__icon, .el-step:hover .el-step__main {
  transition: transform 0.3s ease;
  transform: scale(0.8);
  transform-origin: center;
}
.el-step .el-step__head .el-step__icon, .el-step .el-step__main {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.el-step .el-step__head.is-process .el-step__icon, .el-step .el-step__head.is-process + .el-step__main {
  transition: transform 0.3s ease;
  transform: scale(1.0);
  transform-origin: center;
}
.el-step .el-step__head.is-process .el-step__icon, .el-step .el-step__head.is-process + .el-step__main, .el-step .el-step__head.is-process .el-step__icon .el-step__title, .el-step .el-step__head.is-process + .el-step__main .el-step__title, .el-step .el-step__head.is-process .el-step__icon .el-step__description, .el-step .el-step__head.is-process + .el-step__main .el-step__description {
  color: #3b76c4 !important;
  font-weight: 600;
}
.el-step .el-step__head.is-process .el-step__icon .el-step__description, .el-step .el-step__head.is-process + .el-step__main .el-step__description {
  font-size: 1rem;
}
.el-step__icon-inner {
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}
.el-step__main {
  margin-top: 10px;
}
.input-csv {
  border-radius: 10px;
  height: 40px;
}
.el-step__icon {
  background-color: transparent;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
}
.uk-card-body {
  padding: 20px 40px;
}
.button-submit {
  background-color: #e3165c;
  color: white;
}
.el-card__footer {
  border-top: 1px solid #ebeef5;
}
.col-width-12 {
  width: 200px !important;
}
.col-width-8 {
  width: 95px !important;
}
.col-width-4 {
  width: 80px !important;
}
.label-radio {
  padding: 5px;
  font-size: 1rem;
}
.box-card {
  width: 640px;
}
.el-form-item__label {
  padding: 5px 0 0 0 !important;
}