[v-cloak] {
  display: none;
}

.fullscreen {
  min-height: calc(100vh - 60px);
}

html {
  scrollbar-color: #d2ecfc #ffffff;
  scrollbar-width: thin !important;
}

body {
  font-size: 0.75rem;
  min-width: 100vh;
  min-height: 100vh;
  background: url('../img/bg.svg') no-repeat fixed bottom;
  background-size: 100% 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.uk-card-default {
  color: #575757;
}

body,
.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    メイリオ, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic",
    "Noto Sans CJK JP", TakaoPGothic, Arial, Helvetica, sans-serif !important;
}

.el-step:hover .el-step__head .el-step__icon,
.el-step:hover .el-step__main {
  transition: transform 0.3s ease;
  transform: scale(0.8);
  transform-origin: center;
}

.el-step .el-step__head .el-step__icon,
.el-step .el-step__main {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.el-step .el-step__head.is-process .el-step__icon,
.el-step .el-step__head.is-process+.el-step__main {
  transition: transform 0.3s ease;
  transform: scale(1.0);
  transform-origin: center;
}

.el-step .el-step__head.is-process .el-step__icon,
.el-step .el-step__head.is-process+.el-step__main,
.el-step .el-step__head.is-process .el-step__icon .el-step__title,
.el-step .el-step__head.is-process+.el-step__main .el-step__title,
.el-step .el-step__head.is-process .el-step__icon .el-step__description,
.el-step .el-step__head.is-process+.el-step__main .el-step__description {
  color: #3b76c4 !important;
  font-weight: 600;
}

.el-step .el-step__head.is-process .el-step__icon .el-step__description,
.el-step .el-step__head.is-process+.el-step__main .el-step__description {
  font-size: 1rem;
}

.el-step__icon-inner {
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}

.el-step__main {
  margin-top: 10px;
}

.input-csv {
  border-radius: 10px;
  height: 40px;
}

.el-step__icon {
  background-color: transparent;
}

/* CuongDV css */
.your-yagi .message-placement {
  text-align: center;
}

.your-yagi .message {
  color: rgba(0, 0, 0, .75);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 1rem;
  padding: .25rem 1rem;
  font-size: .8rem;
  display: inline-block;
  max-width: 320px;
  position: relative;
  margin-bottom: 1rem;
}

.your-yagi .message:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, .1);
}

.image-area {
  margin: auto;
  width: 100px;
  height: 100px;
  background: url("../img/NghiaTB.png") no-repeat;
  background-size: 100% 100%;
}

.your-yagi .message:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #fff;
  z-index: 1;
}

.fluffy {
  -webkit-animation: fluffy 3s ease infinite;
  animation: fluffy 3s ease infinite;
}


@keyframes fluffy {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  5% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  20% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }

  25% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  30% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

.login {
  border-radius: .25rem;
  border: 1px solid #dcdfe6;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-center {
  margin: 0 15%;
}

.horizontal-text {
  overflow: hidden;
  text-align: center;
  margin: 1rem 0;
  font-size: .875rem;
}

.horizontal-text span {
  position: relative;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  text-align: left;
}

.horizontal-text span:before {
  right: 100%;
}

.horizontal-text span:after,
.horizontal-text span:before {
  position: absolute;
  top: 50%;
  content: "";
  width: 400%;
  height: 1px;
  background: #dcdfe6;
}

.text-right {
  text-align: right;
}

.save-time-message {
  color: rgba(0, 0, 0, .5);
  display: inline-block;
  font-size: .9rem;
}

.card-preview-button {
  padding: .5rem 0;
  text-align: center;
}

.footer-cv {
  margin: auto
}

.width-date {
  width: 100% !important;
}

/* End CuongDV css */
.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.uk-card-body {
  padding: 20px 40px;
}

.button-submit {
  background-color: #e3165c;
  color: white;
}

.el-card__footer {
  border-top: 1px solid #ebeef5;
}

.col-width-12 {
  width: 200px !important;
}

.col-width-8 {
  width: 95px !important;
}

.col-width-4 {
  width: 80px !important;
}

.label-radio {
  padding: 5px;
  font-size: 1rem;
}

.box-card {
  width: 640px;
}

.el-form-item__label {
  padding: 5px 0 0 0 !important;
}